// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #FF891D;
$secondary: #F46300;
$dark:#000;
$light:#fff;

$btn-link-color: $light;


$headings-font-family: 'Gill Sans Nova', sans-serif;
$font-family-base: 'Gill Sans Nova', sans-serif; 
$display-font-family: 'Gill Sans Nova', sans-serif;






// Then add additional custom code here


@import "../node_modules/bootstrap/scss/bootstrap";

header img{
    width: auto;
    height: 150px;
}

.banner-rd img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.navbar{
    --bs-navbar-color: White;
    --bs-navbar-hover-color: #000;
    align-items: flex-start ;
}



.display-1{
    font-family: 'Gill Sans Nova', sans-serif;
}
#hero{
    background-image: url(/images/car.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about{
    background-image: url(/images/car-4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-display{
    text-shadow: 7px 7px 5px #000000;

}

.w-button{
    color: $light;
    transition: all .25s ease;
}

.w-button:hover {
    background-color: $dark;
    color: #fff;
    border-color: #000;
}

.card img{
    width: 150px;
    height: 150px;
    border-radius: 200px;
}
div h4{
    font-variant: small-caps;
}
.contact-us li:nth-of-type(1)::before{
    list-style-image: url(/icons/mail.png) !important;
}

.contact-us li:nth-of-type(2)::before{
    list-style-image: url(/icons/Phone.png) !important;
}

.map li:nth-of-type(1){
    list-style-image: url(/icons/Gps.png);
}
footer div{
    flex-direction: column;
    align-items: flex-end;
}

footer img{
    justify-content: end;
    width: auto;
    height:50px;
}

footer small{
    width: 100%;
}
